.App {
  text-align: center;
}

.table {
  max-width: 850px;
  border: 1px solid #dfdab5;
  margin: 10px auto;
}

.table-header{
  color: rgb(122, 56, 122);
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Gill Sans, sans-serif;
}

.table-body{
  margin-left: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid #747d88;
  color: rgb(62, 68, 75);
  padding:7px;
  
}

.row:hover {
  background-color: #eff0ee;
}

.issue-icon {
  margin-right: 20px;
  padding-top: 15px;
  padding-left: 15px;
}

.comment-icon{
  margin-top: 10px;
  margin-right: 10px;
  text-align: right!important;
}

.flex-1 {
  flex: 1!important;
}

.title {
  color: #39413e;
  font-size: 14px;
  font-weight: bold;
  font-family: Gill Sans, sans-serif;
  margin-bottom: 3px;
}


.details{
  margin: 20px;
  font-family: 'Segoe UI', sans-serif;
}

img{
  height: 200px;
  width: 200px;
  
}